body {
  margin: 0 auto;
}

:root {
  --main-text-font: Tahoma;
  --title-color: #b90d16;
  --border-color: #bec3ca;
  --size-main-text: 12px;
  --size-h3-text: 16px;
  --h3-content-title: 14px;
  --footer-color-text: #cfd3d5;
  --footer-text-size: 11px;
}

.page {
  margin: 0 auto;
  width: 1015px ;
  height: 1430px;
  background-image: url(/src/image/backgroung-page.png);
  background-repeat: no-repeat;
}

.header {
  background-image: url(/src/image/header-logo.gif);
  background-repeat: no-repeat;
  height: 155px;  
}

.left-header-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 35px 60px 0 0;
  margin: 0;
  li {
   list-style-type: none;
  }
}

.left-header-menu-positions {
  padding: 7px;
  width: 13px;
  height: 18px;
}

.home:after {
  content: url(/src/image/home-icon.jpg);
}

.mail:after {
  content: url(/src/image/mail-icon.jpg);
}

.left-header-menu-positions:hover {
  border: solid;
  border-width: 0.2px;
}

.issue-date {
  display: flex;
  justify-content: center;
  margin: 0;
  margin: 40px 0 0 812px;
  background-color: #eef1f4;
  width: 140px;
  height: 25px;
  padding: 0;
  background-image: url(/src/image/background-issue.png);

  li {
    padding-top: 2px;
    list-style: none;
  }

  li:hover {
    text-decoration: underline var(--title-color);
  }
  
  a {
    font-family: var(--main-text-font);
    font-size: var(--size-main-text);
    font-weight: bold;
    text-decoration: none;
    color: var(--title-color);
  }
}

.contents {
  display: flex;
  flex-direction: row;
  width: 977px;
  height: 1185px;
}

.left-bar {
  width: 261px;
  height: 1133px;
}

.left-navigation-menu {
  width: 170px;
  height: 415px;
  background-image: url(/src/image/back-left.gif);
  background-repeat: no-repeat;
  margin: 30px 0 0 20px;
  border-radius: 5px;

li {
  display: flex;
  list-style: none;
  justify-content: end;
  padding: 15px 60px 0 0;
  position: relative;
}

li:first-child {
  padding-top: 45px;
}

li:last-child {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: var(--main-text-font);
  font-size: var(--size-main-text);
}

li:hover::after {
    content: url(/src/image/red-arrow.gif);
    position: absolute;
    left: 120px;
    text-decoration: underline;
    color: #000;
}

}

.useful-websites-bar {
  margin: 30px 30px 10px 20px;
  width: 207px;
  height: 320px;
  border: solid;
  border-width: 1px;
  border-color: var(--border-color);
  border-radius: 5px;

h3 {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 24px 41px 5px 0;
  color: var(--title-color);
  font-family: var(--main-text-font);
  font-size: var(--size-h3-text);
}

ul {
  padding: 0;
  margin: 5px 0;
}

li {
  list-style: none;
}

a {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 5px 41px 5px 0;
  color: #000;
  font-size: var(--size-main-text);
  font-family: var(--main-text-font);
}

li:hover a {
  text-decoration: none;
}

}


.communication-bar {
  margin: 30px 30px 10px 20px;
  width: 207px;
  height: 345px;
  border: solid;
  border-width: 1px;
  border-color: var(--border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: var(--main-text-font);
  font-size: var(--size-main-text);

h3 {
  color: var(--title-color);
  margin: 0;
  padding: 23px 40px 0px 0;
  font-size: var(--size-h3-text);
}

p {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 3px 40px 3px 0;
  align-items: end;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 5px 40px 10px 0;
  list-style: none;
  margin: 0;
}

.tel-divider:after {
  content: "/";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

li:hover a {
  text-decoration: underline;
}
}

.middle-content {
  display: flex;
  flex-direction: column;
}

.main-article {
  width: 430px;
  height: 245px;
  margin: 30px 20px 0 30px;
  padding: 10px 0 5px 0;
  border: solid;
  border-width: 0.2px;
  border-radius: 5px;
  border-color: var(--border-color);
  background-color: #bec3ca;
  background-image: url(/src/image/main-article.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 50px;

  h3 {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
    font-size: var(--h3-content-title);
    font-family: var(--main-text-font);
    color: var(--title-color);
  }

  p {
    width: 185px;
    height: 182px;
    display: flex;
    margin-left: 210px;
    padding: 10px;
    font-family: var(--main-text-font);
    font-size: var(--size-main-text);
  }
}

.other-articles {

  width: 430px;
  height: 150px;
  margin: 5px 10px 0 20px;
  padding: 5px;
  
  h3 {
    margin: 5px 0;
    padding: 0 10px;
    font-family: var(--main-text-font);
    color: var(--title-color);
    font-size: var(--h3-content-title);
    text-transform: uppercase;
  }

  p {
    margin: 7px 0 5px;
    padding: 0 10px;
    font-family: var(--main-text-font);
    font-size: var(--size-main-text);
  }

  div {

    margin: 0;
    padding: 3px 0 5px 10px;

    a {
      font-family: var(--main-text-font);
      color: var(--title-color);
      font-size: var(--size-main-text);
    }

    a:before {
      content: ">>";
      font-size: 9px;
      font-weight: bold;
      font-family: var(--main-text-font);
    }
  }

  div:hover a {
    text-decoration: none;
  }

}

.right-bar {

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 215px;
    height: 250px;
    margin: 30px 0 0 10px;
    border: solid;
    border-width: 0.2px;
    border-radius: 5px;
    border-color: var(--border-color);
    background-color: #eaeef1;
    padding: 0 5px 0 0;

    .link-baneer{
      width:200px;
      height: 70px;
      background: url(/src/image/baneer-flights.png);
      background-repeat: no-repeat;
      background-position: center;

      .link-container{
        display: block; 
        text-align: center;
        height: 100%; 
        color: #666;
      }
    }
  }

  h3 {
    margin: 0;
    padding: 10px 0;
    font-family: var(--main-text-font);
    color: var(--title-color);
    font-size: 15px;
    text-decoration: underline 2px;
  }
}

.right-bar-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215px;
  height: 860px;
  margin: 30px 0 0 10px;
  border: solid;
  border-width: 0.2px;
  border-radius: 5px;
  border-color: var(--border-color);
  background-color: #eaeef1;
  

  .first-news {
    width: 100%;
    border-bottom: double 1px;
    border-color: var(--border-color);

  }
  
  .first-article-right {
    background-image: url(/src/image/ClionaMorrissey.png);
    background-position-x: 20px;
    background-position-y: 10px;
    height: 100px;
    background-repeat: no-repeat;
    padding: 270px 20px 0 20px;
    font-family: var(--main-text-font);
    font-size: var(--size-main-text);
    
  }
  
  .second-atricle-right {
    background-image: url(/src/image/news-2.png);
    background-position-x: 15px;
    background-position-y: 10px;
    height: 100px;
    background-repeat: no-repeat;
    padding: 352px 20px 0 20px;
    font-family: var(--main-text-font);
    font-size: var(--size-main-text);   
  }
}


footer {
  display: flex;
  flex-direction: row;


  .copyright {
    display: flex;
    width: 260px;
    justify-content: center;
    padding-top: 38px;
    font-family: var(--main-text-font);
    font-size: var(--footer-text-size);
    color: var(--footer-color-text);
  }

  ul {
    display: flex;
    flex-direction: row;
    width: 680px;
    height: 30px;
    padding-top: 20px;
    list-style: none;
    justify-content: space-between;

  }

  a {
    text-decoration: none;
    font-size: var(--footer-text-size);
    color: var(--footer-color-text);
  }

  li:hover a {
    text-decoration: underline;
  }

}